{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{% if form.instance.pk %}Editar Campanha{% else %}Criar Campanha{% endif %}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  {# Renderiza os campos do formulário automaticamente #}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Salvar Alterações{% else %}Criar Campanha{% endif %}</button>
        <a href="{% url 'campanhas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
